/* global styles */
* {
	color: #707070;
}
.container {
	max-width: 1640px;
	width: 100%;
	margin: 0 auto;
}

.flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

/* header styles */
.header {
	padding: 52px 142px;
	font-size: 20px;
	font-family: 'ArchyEDT-Thin';
	line-height: 27px;
	letter-spacing: 1px;
	flex-wrap: wrap;
}

.navbar a{
	margin-right: 40px;
}

.header-right img:last-child {
	cursor: pointer;
	margin-right: 0;
}

/* banner img */
.banner {
	height: 613px;
	width: 100%;
	padding: 52px 142px;
	background-image: url(../img/სლაიდერი3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center; 
}

/* article section styles */
.articles-section {
	width: 100%;
	padding: 100px 142px;
}

.section-title {
	margin-bottom: 50px;
	font-size: 40px;
	font-family: 'ArchyEDT-Thin';
	line-height: 53px;
	letter-spacing: 1px;
}

.article-div {
	width: 483px;
}

.article-div img {
	width: 100%;
}

.article-text {
	width: 100%;
	padding: 0 10px;
	display: flex;
	flex-direction: column;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.article-text h2 {
	margin: 20px 0; 
	font-size: 30px;
	font-family: 'ArchyEDT-Thin';
	line-height: 40px;
	letter-spacing: 1px;
}

.article-text p {
	font-size: 18px;
	font-family: sans-serif;
	line-height: 24px; 
}

.article-text a:last-child {
	align-self: flex-end;
	margin: 50px 0 30px 0;
	font-size: 24px;
	font-family: 'ArchyEDT-Thin';
	line-height: 32px;
}


/* load more styles*/
.load-more {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 30px;
	font-family: 'ArchyEDT-Thin';
	line-height: 40px;
	letter-spacing: 1px;
	margin-bottom: 50px;
}

.load-more span {
	border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}


/* footer styles */
footer {
	padding: 40px 0;
	background-color: #2E2E2E;
}


footer * {
	color: #F2F2F2;
}

.footer-div {
	font-family: 'ArchyEDT-Thin';
	letter-spacing: 1px;
}

.footer-div h2{
	font-size: 20px;
	line-height: 27px;
}


.footer-div p{
	font-size: 13px;
	line-height: 17px;
}

.social-icons a:first-child img {
	margin-right: 30px;
}


/* resonsive styles */
@media (max-width: 1024px) {
	/* header */
	.header {
		padding: 30px;
	}

	.navbar {
		display: none;
	}

	/* banner */
	.banner {
		height: 400px;
		background-image: url(../img/სლაიდერი2.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center; 
	}
	
	/* articles */
	.articles-section {
		padding: 30px;
	}

	.articles {
		justify-content: center;
	}

	.section-title {
		margin-bottom: 0px;
		text-align: center;
	}

	.article-div {
		margin-top: 40px;
	}

	/* footer */
	footer .container {
		flex-direction: column;
	}

	.footer-logo {
		display: none;
	}

	.footer-div {
		margin-bottom: 30px;
		text-align: center;
	}
}